<header>
    <div class="headercont">
      <div class="logo">
        <h2>Сайт лабораторних робіт</h2>
        <div class="info_v_logo" id="next_laba"><h2>Наступна лабораторна №{{ii}} до {{nearest_deadline.getDate()}}.{{nearest_deadline.getMonth()}}.{{nearest_deadline.getFullYear()}}</h2></div>
      </div>
      <div class="menus" id="navmenu">
        <a routerLink = "/"><div class="btn mbtns {{ifactive1}}" id="btnаfirst"><span>Головна</span></div></a>
        <a href="#second"><div class="btn"><span>Про сайт</span></div></a>
        <a href="#third"><div class="btn"><span>Викладач</span></div></a>
        <a routerLink = "/labs" routerLinkActive="active-link"><div class="btn mbtns {{ifactive2}}" id="btnlast"><span>Лабораторні</span></div></a>
        
      </div>
    </div>
    
</header>