<header>
    <div class="headercont">
      <div class="logo">
        <h2>Сайт лабораторних робіт</h2>
        <div class="info_v_logo" id="next_laba"></div>
      </div>
      <div class="menus">
        <a routerLink = "/"><div class="btn mbtns" id="btnаfirst"><span>Головна</span></div></a>
        <a href="#second"><div class="btn"><span>Про сайт</span></div></a>
        <a href="#third"><div class="btn"><span>Викладач</span></div></a>
        <a routerLink = "/labs"><div class="btn mbtns bactive" id="btnlast"><span>Лабораторні</span></div></a>
  
      </div>
    </div>
    
</header>