<div class="container2" id="sidebar">
    <div class="block2" id="labslist">
        <h1 class="flexel">Список лаб</h1>
        <div class="coolbtn" data-lab="0"> <input type="checkbox" name="donelab2" value="donelab1">1 Лаба</div>
        <div class="coolbtn" data-lab="1"> <input type="checkbox" name="donelab2" value="donelab1">2 Лаба</div>
        <div class="coolbtn" data-lab="2"> <input type="checkbox" name="donelab2" value="donelab1">3 Лаба</div>
        <div class="coolbtn" data-lab="3"> <input type="checkbox" name="donelab2" value="donelab1">4 Лаба</div>
        <div class="coolbtn" data-lab="4"> <input type="checkbox" name="donelab2" value="donelab1">5 Лаба</div>
    </div>
</div>